//moveOver to the form stuff?

tolerance = $interactivityTolerance;

.ui-appearance-menuitem
  min-height: $brick;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: $line;
  font-family: $font-family;
  .ui-appearance-menuitem-text
    box-sizing();
    line-height: $line-height;
    font-size: $line;
    min-height: $line-height;
    display: block;
    padding: $line-margin;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    text-indent: $line-margin

.ui-appearance-menuitem:hover,
.ui-appearance-menuitem.ui-state-hover
  background-color: $color-default
  color: #eee

.ui-appearance-menuitem:focus,
.ui-appearance-menuitem.ui-state-focus,
.ui-appearance-menuitem.ui-state-active
  background-color: darken(saturate($color-default, (tolerance * 0.8)), (tolerance* 0.2))
  color: #eee


.ui-menu.ui-list-menuitem
  .ui-radio
    display: block
  .ui-appearance-menuitem:last-child
    margin-bottom: $border-width;

//implement state mixins
ui-states('.ui-appearance-menuitem', '&', $ui-states, iMenuItem, $interactivityTolerance)
